{{- $podSecurityContext := .Values.podSecurityContext }}
{{- if not $podSecurityContext }}
{{- $podSecurityContext = omit (default (dict) .Values.securityContext) "allowPrivilegeEscalation" "capabilities" "privileged" "readOnlyRootFilesystem" "procMount" }}
{{- end }}
{{- $containerSecurityContext := omit (default (dict) .Values.securityContext) "fsGroup" "fsGroupChangePolicy" "supplementalGroups" "sysctls" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "chatwoot.fullname" . }}-web
  creationTimestamp: null
  labels:
    app: {{ template "chatwoot.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  replicas: {{ int .Values.web.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "chatwoot.fullname" . }}
      release: "{{ .Release.Name }}"
      role: web
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ template "chatwoot.fullname" . }}
        release: "{{ .Release.Name }}"
        role: web
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/env-secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{- include "common.tplvalues.render" (dict "value" .Values.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      containers:
        - args:
            - bundle
            - exec
            - rails
            - s
            - -p
            - {{ .Values.services.internalPort | quote}}
            - -b
            - 0.0.0.0
          command:
            - docker/entrypoints/rails.sh
          env:
          {{- if .Values.postgresql.auth.existingSecret }}
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.postgresql.auth.existingSecret }}
                key: {{ default "password" .Values.postgresql.auth.secretKeys.adminPasswordKey }}
          {{- end }}
          {{- if .Values.redis.existingSecret }}
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.redis.existingSecret }}
                key: {{ default "password" .Values.redis.existingSecretKey }}
          {{- end }}
          envFrom:
            - secretRef:
                name: {{ template "chatwoot.fullname" . }}-env
          {{- if .Values.existingEnvSecret }}
            - secretRef:
                name: {{ .Values.existingEnvSecret }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          name: {{ .Chart.Name }}-web
          ports:
            - containerPort: {{ int .Values.services.internalPort }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if $containerSecurityContext }}
          securityContext: {{- toYaml $containerSecurityContext | nindent 12 }}
          {{- end }}
          {{- with .Values.web.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: cache
              mountPath: /app/tmp
      serviceAccountName: {{ include "chatwoot.serviceAccountName" . }}
      {{- if $podSecurityContext }}
      securityContext: {{- toYaml $podSecurityContext | nindent 8 }}
      {{- end }}
      volumes:
        - name: cache
          emptyDir: {}
